<!DOCTYPE html>
<html>

	<head>
		<title>{$product.name}</title>
		<meta charset="utf-8">
		<meta name="author" content="COS">
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="stylesheet" type="text/css" href="__CDN__/frozenui/1.2.1/css/frozen.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/style.css?v=__APP_VERSION__">
		<style type="text/css">
			.spin{
				width:2em;
				background: #444444;
				border-radius: 5px;
				padding: 7px;
			  	margin: 0px 6px;
  				color: #fff;
  				text-align: center;
			}
			.product-name{
				height: 20px;
			}
			.product-name,.address{
				padding: 20px 20px 20px 20px;
				border-bottom: 1px solid #ECCACA;
			}
			.shopcart{
				padding: 10px 20px;
				border-bottom: 1px solid #ECCACA;
			}
			.product-name .ui-btn{
				min-width: 40px;
			}
			.address-from{
				margin-top: 15px;
			}
			.cjfx select.txt-gray{
				color:#A6A6A6;;
			}
		</style>
	</head>

	<body>
		<div class="wrapper cjfx">
			<div class="">
				<img style="width:100%;" src="{$product.tburl}" class="img" />
			</div>
			<div class="product-name">
				<div class="ui-txt-info fl">{$product.name}</div>
				<!-- 购买 -->
				<div class="fr">
					<button class="ui-btn ui-btn-danger btnplus">+</button>
					<input type="text" class="spin item-cnt" value="1" readonly="readonly" style="width:24px;" />
					<button class="ui-btn ui-btn-danger btnminus">-</button>
				</div>
			</div>
			<div class="shopcart">
				<!-- 购物车总计 -->
				<div class="ui-txt-info">
					<small>购物车总计</small>
				</div>
				<div class="ui-txt-info" style="  margin-top: 15px;"><div>已选 ： <span class="ui-txt-warning shopcart-item-cnt">1</span>份&nbsp;&nbsp;共计：&#65509;<span class="ui-txt-warning shopcart-total-price">{$product.price}</span>元</div>
				</div>
			</div>

			<div class="address">
				<!-- 联系信息 -->
				<div class="ui-txt-info">
					<small>联系信息</small>
				</div>
				<div class="address-from">
					<div class="ui-form ui-border-t">
						<form action="#" id="addressForm">
							<input name="country" type="hidden" value="中国" />
							<input name="productname" type="hidden" value="{$product.name}" />
							<input name="price" type="hidden" value="{$product.price}" />
							<input name="amount" class="amount" type="hidden" value="1" />
							<input name="pic" type="hidden" value="{$product.tburl}" />
							<div class="ui-form-item ui-border-b">
								<label for="#"><span class="ui-txt-warning">*</span> 联系人</label>
								<input name="contactname" value="{$address.contactname}" id="inputname" type="text" placeholder="请输入联系人姓名">
								<!--<a href="#" class="ui-icon-close"></a>-->
							</div>
							<div class="ui-form-item  ui-border-b">
								<label for="inputmobile"><span class="ui-txt-warning">*</span> 联系电话</label>
								<input name="mobile" value="{$address.mobile}" id="inputmobile"  placeholder="请输入联系电话" />
							</div>
							<div class="ui-form-item  ui-border-b">
								<label for="#"><span class="ui-txt-warning">&nbsp;</span> 微信号</label>
								<input name="wxno" value="{$address.mobile}" placeholder="请输入微信号" />
							</div>
							<div class="ui-form-item ui-form-item-select ui-border-b">
								<label for="#" ><span class="ui-txt-warning">*</span> 省</label>
								<select  style="padding-left: 90px;" id="province" class="ui-border-t <empty name="address">txt-gray</empty>" name="province">
									<option style="" value="">请选择省份</option>
									<volist name="provinces" id="vo">
										<option value="{$vo.provinceid}" <eq name="address.province" value="$vo['provinceid']" >selected="true"</eq> >{$vo.province}</option>
									</volist>
								</select>
								<div id="pcaloading" style="width:40px;position: absolute;top: 0px; right: 20px;" class="ui-loading-wrap">
								    <i class="ui-loading"></i>
								</div>
							</div>
							
							<div class="ui-form-item ui-form-item-select ui-border-b">
								<label for="#" ><span class="ui-txt-warning">*</span> 城市</label>
								
								<select style="padding-left: 90px;" id="city" class="ui-border-t <empty name="address">txt-gray</empty>" name="city">
									
									<empty name="city">
										<option value="">请先选择省份</option>
										<else/>
										<volist name="city" id="vo">
										<option value="{$vo.cityid}" <eq name="address.city" value="$vo['cityid']" >selected="selected"</eq>  >{$vo.city}</option>
										</volist>
									</empty>
								</select>
							</div>
							
							<div class="ui-form-item ui-form-item-select ui-border-b <empty name="address.area">hide</empty>" >
								<label for="#" ><span class="ui-txt-warning">*</span> 区域</label>
								
								<select style="padding-left: 90px;" id="area" class="ui-border-t <empty name="address">txt-gray</empty>" name="area">
									<empty name="area">
										<option value="">请先选择城市</option>
										<else/>
										<volist name="area" id="vo">
											<option value="{$vo.areaid}" <eq name="address.area" value="$vo['areaid']" >selected="selected"</eq> >{$vo.area}</option>
										</volist>									
									</empty>
								</select>
							</div>
							
							<div class="ui-form-item ui-form-item-textarea ui-border-b">
								<label for="#"><span class="ui-txt-warning">*</span> 详细地址</label>
								
								<textarea name="address"  id="address" style="resize:none;" placeholder="请输入详细地址">{$address['detailinfo']}</textarea>
							</div>
							<div class="ui-form-item ui-form-item-textarea ui-border-b">
								<label for="#"><span class="ui-txt-warning">&nbsp;</span> 备注</label>
								<textarea name="notes" style="resize:none;" placeholder="选填备注"></textarea>
							</div>
							<div class="ui-border-b">					
								<div class="ui-btn-wrap">
									<button id="submit"  type="button"  class="ui-btn-lg ui-btn-danger ">立即购买</button>						</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-dialog cjfx">
			<div class="ui-dialog-cnt">
				<div class="ui-dialog-bd">
					<div>
						<h4>系统消息</h4>
						<div class="ui-dialog-content ui-txt-warning ui-txt-center"></div>
					</div>
				</div>
				<div class="ui-dialog-ft ui-btn-group">
					<button type="button" data-role="button" class="select" id="dialogButton1">关闭</button>
					
				</div>
			</div>
		</div>
		<script src="__CDN__/frozenui/1.0.1/zepto.min.js"></script>
		<script src="__CDN__/frozenui/1.0.1/frozen.js"></script>
		<script type="text/javascript">
			function check(){
				var cnt = parseInt($(".item-cnt").val()) ;
				
				if(isNaN(cnt) || cnt <= 0){
					myalert("至少购买一份！");
					return false;
				}
				
				var str = $("#inputname").val();
				if(str.replace(/(^s*)|(s*$)/g, "").length == 0){
					myalert("请填写联系人姓名！");
					return false;
				}
				str = $("#inputmobile").val();
				if(str.replace(/(^s*)|(s*$)/g, "").length == 0){
					myalert("请填写联系人电话！");
					return false;
				}
				str = $("#address").val();
//				var str1 = $("#province").val(); 
//				var str2 = $("#city").val(); 
//				var str3 = $("#area").val();
//				
				var str1 = $("#province > option").not(function(){ return !this.selected }).attr("value");
				var str2 = $("#city > option").not(function(){ return !this.selected }).attr("value");
				
				var str3 = $("#area > option").not(function(){ return !this.selected }).attr("value");
				
				if(str1.length == 0 ){
					myalert("请选择省份！");
					return false;
				}
				
				if(str2.length == 0){
					myalert("请选择城市！");
					return false;
				}
				
				if(!$("#area").parent().hasClass("hide") && str3.length == 0){
					myalert("请选择区域！");
					return false;
				}
				
				if(str.replace(/(^s*)|(s*$)/g, "").length == 0){
						
					myalert("请填写联系地址！");
					return false;
				}
				
				return true;
			}
			function appendToCity(data){
					var city = $("#city");
					city.empty();
					city.append($("<option value=''>请先选择省份</option>"));
					
					for(var i=0;i<data.length;i++){
						var ele = $("<option></option>");
						ele.text(data[i].city).attr("value",data[i].cityid).appendTo(city);
					}
			}
			function appendToArea(data){
					$("#area").removeClass("txt-gray");
					var area = $("#area");
					area.empty();
					if(!data){
						area.parent().addClass("hide");
						return ;
					}
					if(data.length > 0){
						area.parent().removeClass("hide");
					}
					for(var i=0;i<data.length;i++){
						var ele = $("<option></option>");
						ele.text(data[i].area).attr("value",data[i].areaid).appendTo(area);
					}
			}

		</script>
		<script>
			
			window.myTips = null;
			var price = parseFloat({$product.price}) ;
			function myalert(txt){
				
				window.myTips=$.tips({
			        content:txt,
			        stayTime:2000,
			        type:"info"
			   });
				
					//	$(".ui-dialog-content").text(txt);
					//	$(".ui-dialog").dialog("show");
			}
			//加数量
			function plus(){
				
					$cnt = $(".shopcart-item-cnt").text();
					$(".shopcart-item-cnt").text(parseInt($cnt)+1);
					$(".item-cnt").val(parseInt($cnt)+1);
					$(".shopcart-total-price").text((parseInt($cnt)+1)*price);
			}
			//减数量
			function minus(){
				
					$cnt = $(".shopcart-item-cnt").text();
					if($cnt - 1 < 0){
						return ;
					}
					$(".shopcart-item-cnt").text(parseInt($cnt)-1);
					$(".item-cnt").val(parseInt($cnt)-1);
					$(".shopcart-total-price").text((parseInt($cnt)-1)*price);
			}
			var isAjaxing = false;
			$(function(){
				
				$(".item-cnt").val(1);
				$("#pcaloading").hide();
				$(".btnplus").tap(function(){ plus(); });
				
				$(".btnminus").tap(function(){ minus(); });
				
				$(".item-cnt").change(function(eleold,elenew){
					console.log(eleold,elenew);
				});
				
				
				$("#submit").click(function(){	
					if(isAjaxing){
						return ;
					}
					console.log("tap");
				    var el=$.loading({
				        content:'请求中...',
				    })
					if(!check()){						
				        el.loading("hide");
						return ;
					}
					var p_name = $("#province > option").not(function(){ return !this.selected }).text();
					var c_name = $("#city > option").not(function(){ return !this.selected }).text();
					
					var a_name = $("#area > option").not(function(){ return !this.selected });
					if(a_name.attr("value") != ""){
						a_name = a_name.text();
					}else{
						a_name = "";
					}
					
					var cnt = parseInt($(".item-cnt").val()) ;
					$(".amount").val(cnt);
					var totalprice = parseFloat($(".shopcart-total-price").text());
					var obj = {p_name:p_name,c_name:c_name,a_name:a_name, totalprice: totalprice};
					//console.log(obj);
					var postdata = $.param(obj);
					postdata = postdata+'&'+$('#addressForm').serialize();
					
					//addressForm
					$.ajax({
					  type: 'POST',
					  url: '{:U("Shop/Orders/save")}',
					  data:postdata ,
					  dataType: 'json',
					  context: $('body'),
					  beforeSend:function(){
					  	$("#submit").addClass("disabled");
					  	isAjaxing = true;
					  },
					  success: function(data){
					  	console.log(data);
					  	if(data.status){
//					  		alert(data.url);
					  		window.location.href = data.url;
					  	}else{
					  		alert(data.info);
				        		el.loading("hide");
					  	}
					  },
					  error: function(xhr, type){
				        el.loading("hide");
					  },
					  complete:function(xhr, status){
					  	isAjaxing = false;
					  	$("#submit").removeClass("disabled");
					  }
					});
					
					
				});
				$("#province").change(function(){
					$("#province").removeClass("txt-gray");
					var provinceID = $("#province").val();
//					console.log(provinceID);
					if(provinceID){
						$("#pcaloading").show();
						$.post("{:U('Tool/City/getCitys')}",{provinceid:provinceID},function(data){
//							console.log(data);
							if(data.status){
								appendToCity(data.info);								
							}else{
								
							}
							$("#pcaloading").hide();
						});
					}
				});
				
				$("#city").change(function(){
					$("#city").removeClass("txt-gray");
					var cityID = $("#city").val();
//					console.log(cityID);
					if(cityID){
						$("#pcaloading").show();
						$.post("{:U('Tool/City/getArea')}",{cityid:cityID},function(data){
//							console.log(data);
							if(data.status){
								appendToArea(data.info);					
							}else{
								
							}
							$("#pcaloading").hide();
						});
					}
				});
				
				
			});
		</script>
		{__NORUNTIME__}
	</body>

</html>