<extend name="template/base_index" />

<block name="area_header">
</block>

<block name="area_body">
	
	<header class="am-header am-header-default grid">
	  <div class="logo col-2">
	    <a href="#" >
	      <img src="__IMG__/logo.png?v=1.1" alt="logo"  />
	    </a>
	  </div>
	  <div class="top-search-wrp col-10">
	  	<span class="i-search"><i class="am-icon-search"></i>搜索商品、店铺</span>
	  	<input type="text" class="am-form-control top-search js_top_search" value="" name="q" />
	  </div>
	</header>
	<div></div>
	<div data-am-widget="slider" class="am-slider am-slider-a5" data-am-slider='{&quot;directionNav&quot;:false}'>
	  <ul class="am-slides">
	  	<volist name="banners" id="vo">
	  		<li>
	  			<img src="{$vo.url}" alt="{$vo.title}" />
	  		</li>
	  	</volist>
	  </ul>
	</div>
	
	
	
</block>

<block name="area_footer">
	<include  file="partial/footermenu" />
	
	<script type="text/javascript">
		$(function(){
						
			$(".js_top_search").on("tap",function(){
				alertMsg("jquery tap");
			});
//			$(".js_top_search").on("click",function(){
//				alertMsg("jquery click");
//			});
		})
		
	</script>
</block>

