<extend name="template/base_index" />

<block name="area_header">
</block>

<block name="area_body">
	
	<header data-am-widget="header" class="am-header am-header-default">
	  <div class="am-header-left am-header-nav">
	    <a href="#" class="">
	      威
	    </a>
	  </div>
	  <h1 class="am-header-title">
	  	<input type="text" class="am-form-control" name="search" />
	  </h1>
	</header>
	<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
	  <ul class="am-slides">
	    <li>
	      <img src="http://s.cn.bing.net/az/hprichbg/rb/TheLuxorHotel_ZH-CN12121725266_1920x1080.jpg">
	    </li>
	    <li>
	      <img src="http://s.cn.bing.net/az/hprichbg/rb/MovingWalkway_ZH-CN9842297711_1920x1080.jpg">
	    </li>
	    <li>
	      <img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg">
	    </li>
	    <li>
	      <img src="http://global.bing.com/az/hprichbg/rb/DumbartonOaksGardens_EN-US12360736195_1920x1080.jpg">
	    </li>
	  </ul>
	</div>
	<div data-am-widget="slider" class="am-slider am-slider-a5" data-am-slider='{&quot;directionNav&quot;:false}'>
  <ul class="am-slides">
    <li>
      <img src="http://s.cn.bing.net/az/hprichbg/rb/TheLuxorHotel_ZH-CN12121725266_1920x1080.jpg">
    </li>
    <li>
      <img src="http://s.cn.bing.net/az/hprichbg/rb/MovingWalkway_ZH-CN9842297711_1920x1080.jpg">
    </li>
    <li>
      <img src="http://global.bing.com/az/hprichbg/rb/UchisarCastle_EN-US10838608428_1920x1080.jpg">
    </li>
    <li>
      <img src="http://global.bing.com/az/hprichbg/rb/DumbartonOaksGardens_EN-US12360736195_1920x1080.jpg">
    </li>
  </ul>
</div>
</block>

<block name="area_footer">
	<include  file="partial/footermenu" />
</block>

