<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title>我的推广二维码</title>
    <link rel="stylesheet" type="text/css" href="__CDN__/amazeui/2.2.1/css/amazeui.min.css">
    
    <link rel="stylesheet" type="text/css" href="__CSS__/shop.css?v=__APP_VERSION__">
</head>
<body>
    <div class="wrapper">
	   <div class="qrcode">
	   		<img src="{$qrcode}" alt="我的二维码" style="width: 100%;"/>
	   </div>
    		
    		<assign name="active" value="4" />
       <include file="partial/footermenu"  />
    </div>
     <script src="__CDN__/frozenui/1.0.1/zepto.min.js"></script>
    <script>
       (function() {
			
        })();
    </script>
    {__NORUNTIME__}
</body>
</html>