<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>我的家族</title>
		<link rel="stylesheet" type="text/css" href="__CDN__/amazeui/2.2.1/css/amazeui.min.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/shop.css?v=__APP_VERSION__">
		<script type="text/javascript" src="__CDN__/jquery/1.11.0/jquery.min.js"></script>
	
	</head>

	<body>
		<div class="wrapper" data-target="123" data-form="456">
			<div class="header am-cf">
				<div class="avatar">
					<img class="am-img-thumbnail am-radius" src="{$userinfo.avatar}" alt="我的头像" />
				</div>
				<div class="info">
					昵称：{$userinfo.nickname}
					<br/> 族长：
					<eq name="hasright" value="true">是
						<else/><a href="{:U('Shop/Index/index')}">您还不是族长，立即成为族长</a>
					</eq>
					<br/> 关注时间：{$userinfo.subscribe_time|date='Y-m-d',###}
					<br/> 会员ID: {$userinfo.id} 积分: {$userinfo.score}
					<br/>
				</div>
			</div>
			<div class="withdrawcash">
				<form class="am-form withdrawcashform validateForm" action="__SELF__" method="post">
					<fieldset>
						<legend ><small>提现信息</small></legend>

						<div class="am-form-group">
							<label for="wdc_price">提现金额</label>
							<input type="text" name="price" value="0" class="required" id="wdc_price" placeholder="请输入提现金额，不小于50">
						</div>
						
						<div class="am-form-group">
							<label for="wdc_account">支付宝账号</label>
							<input type="text" name="account" value="" class="required" id="wdc_account" placeholder="请输入提现支付宝账号">
						</div>
						
						<div class="am-form-group">
							<label for="wdc_name">姓名</label>
							<input type="text" name="name" value="" class="required" id="wdc_name" placeholder="请输入姓名">
						</div>
						
						<div class="am-form-group">
							<label for="wdc_mobile">手机号码</label>
							<input type="tel" name="mobile" value="" class="" id="wdc_mobile" placeholder="请输入手机号码">
						</div>
						
						<div class="am-form-group">
							<label for="wdc_wxno">微信号</label>
							<input type="text" name="wxno" class="" id="wdc_wxno" placeholder="请输入联系微信号">
						</div>

						<div class="am-form-group">
							<a href="__SELF__" class="ajax-post am-btn-block am-btn am-btn-danger" target-form="withdrawcashform">提交</a>
						</div>
					</fieldset>
				</form>
			<div class="am-table-responsive">
				<table class="am-table am-table-radius am-table-striped">
					<thead>
						<tr>
							<th class="am-text-center">
								编号
							</th>
							<th class="am-text-center">
								金额
							</th>
							<th class="am-text-center">
								状态
							</th>

						</tr>
					</thead>
					<tbody>
						<empty name="history">
							<tr >
								<td colspan="3" class="am-text-center">无提现记录！</td>
							</tr>
						<else/>
							<volist name="history" id="vo">
								<tr>
									<td class="am-text-center">{$vo.id}</td>
									<td class="am-text-center">{$vo.withdrawcash}</td>
									<td class="am-text-center">{$vo.wdc_status|getWDCStatus}</td>
								</tr>
							</volist>
						</empty>
					</tbody>
				</table>
				{$show}
			</div>


			</div>
			<assign name="active" value="3" />
			<include file="partial/footermenu" />
		</div>
		<script src="__CDN__/amazeui/2.2.1/js/amazeui.min.js"></script>
		<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
		<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
		<script src="__JS__/shop.js?v=__APP_VERSION__"></script>
		<script>
		$(function() {
			
			//是否中文名字
			$.validator.addMethod("isCnName", function(value, element) {
				var tel = /[a-z0-9.*?,(!)&amp;%$^……！·￥——（）　#@]/g;
				return this.optional(element) || !(tel.test(value));
			}, "请填写正确的姓名");
			// 联系电话(手机/电话皆可)验证     
			$.validator.addMethod("isPhone", function(value, element) {
				var length = value.length;
				var mobile = /^(((13[0-9]{1})|(15[0-9]{1}))+\d{8})$/;
				var tel = /^\d{3,4}-?\d{7,9}$/;
				return this.optional(element) || (tel.test(value) || mobile.test(value));
			}, "请正确填写您的联系电话");
			
			$(".withdrawcashform").validate({
				errorPlacement: function(error, element) {
					$(".checked", element.parent()).remove();
					error.appendTo(element.parent());
				},
				success: function(label) {
					label.removeClass("error").addClass("checked").text("Ok!");
				},
				rules: {
					name: {
						required: true,
					},
					mobile: {
						required: true,
						isPhone: true,
					},
					price: {
						required: true,
						number:true,
					},
					account: {
						required: true,
					},
				},
				messages: {
					name: {
						required: "请输入姓名",
					},
					mobile: {
						required: "请输入手机号码",
						isPhone:  "手机号码不正确",
					},
					price: {
						number:"请输入数字",
						required: "请输入提现金额",
					},
					account: {
						required: "请输入银行账号",
					},
				}
			}); //end validate
		}); //end ready
	</script>
		{__NORUNTIME__}
	</body>

</html>