html {
	font-size: 12px;
	overflow-x: hidden;
}
.color-weixin {
	color: #44B549;
}
/**
 * 回到顶部样式
 */

.theme-shop .am-gotop-fixed {
	bottom: 64px;
	left: 12px;
	width: 36px;
	height: 36px;
}
.theme-shop .am-gotop-fixed .am-gotop-icon {
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: #FF4400;
	vertical-align: middle;
	color: #FAFAFA;
	border-radius: 50%;
}
.detail-page {
	background: #EEEEEE;
	position: relative;
	overflow-x: hidden;
}
.detail-page .btn-controls .shopping-cart {
	background: rgba(68, 51, 51, 0.51);
	width: 32px;
	height: 32px;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	line-height: 32px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 999999;
}
.detail-page .btn-controls .back {
	background: rgba(68, 51, 51, 0.51);
	width: 32px;
	height: 32px;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	line-height: 32px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 999999;
}
.detail-page .lgray {
	color: #999;
}
.detail-page .p-name {
	font-weight: bold;
	line-height: 1.28;
	font-size: 1rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #3d4245;
	margin-bottom: 10px;
}
.detail-page .p-info {
	padding: 10px 16px;
	background: #FFF;
}
.detail-page .p-price {
	font-size: 1rem;
}
.detail-page .p-ori-price {
	font-size: 0.86rem;
}
.detail-page .p-info .p-extra {
	font-size: 0.86rem;
}
.detail-page .p-info .p-extra li {
	border: 0px;
}
.detail-page .p-pro {
	background: #FFF;
}
.detail-page .p-shop {
	background-color: #FFFFFF;
	padding: 10px 16px;
}
.detail-page .p-shop .p-logo {
	width: 64px;
	height: 64px;
	float: left;
	margin-right: 10px;
}
.detail-page .p-shop .p-logo img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.detail-page .p-shop .p-desc {
	float: left;
	font-size: 14px;
	line-height: 36px;
}
.detail-page .p-shop .p-quick {
	text-align: center;
	width: 100%;
	float: left;
	font-size: 1rem;
	border-top: 1px solid #FAE4E4;
	padding: 15px 0px;
}
.detail-page .p-shop .p-quick a {
	width: 50%;
	float: left;
}
.detail-page .p-content {} .detail-page .p-content .am-tabs-bd {
	background: #FFFFFF;
}
.detail-page .p-content .p-propvalue-list {} .detail-page .p-content .p-propvalue-list.am-list li {
	position: relative;
	display: block;
	padding: 10px;
	border: 0px;
	margin-bottom: 0px;
	background-color: #fff;
	border-bottom: 1px solid #F0E5E5;
}
.detail-page .p-pro .d-sku {
	font-size: 14px;
	padding: 0 10px;
}
.omit {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.product-footer {
	background: #FFFFFF;
}
.product-footer .home {
	color: #666666;
}
.product-footer .add-cart {
	background: #FF9402;
}
.product-footer .buy {
	background: #FF5000;
}
.product-footer .am-navbar .am-navbar-nav {
	padding: 0px;
}
.product-footer .am-navbar-nav a .am-navbar-label {
	font-size: 16px;
	color: #fff;
}
.theme-shop .product-footer.am-navbar-default .am-navbar-nav {
	background: #FFFFFF;
	color: #333333;
}
/**
 * SKU 选择框样式
 */

.sku-panel-mask {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	width: 100%;
	width: 100%;
	height: 100%;
	z-index: 899999;
}
.sku-panel {
	background: #FFFFFF;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	font-size: 12px;
	height: 60%;
}
.sku-panel .close {
	position: absolute;
	right: 10px;
	font-size: 36px;
	cursor: pointer;
}
.sku-panel .sku-info {
	padding: 10px 15px;
	border-bottom: 1px solid #EEEEEE;
	height: 70px;
}
.sku-panel .sku-info img {
	width: 64px;
	margin-top: -30px;
	height: 64px;
}
.sku-panel .sku-info .sku-ext {
	text-align: left;
	margin-left: 14px;
}
.sku-panel .sku-info .sku-ext>span {
	display: block;
}
.sku-panel .sku-list {
	padding: 20px 20px 50px 20px;
	overflow-y: scroll;
	background: #EEEEEE;
	height: 280px;
	max-height: 320px;
}
.sku-panel .sku-list .sku-name {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #F9CFCF;
}
.sku-panel .sku-list .value-item {
	width: 40%;
	padding: 0px 10px;
	margin: 5px 5%;
	display: inline-block;
	border: 1px solid #fff;
	background: #fff;
	cursor: pointer;
}
.sku-panel .sku-list .value-item.disabled {
	color: #bababa;
	background-color: #f3f3f3;
}
.sku-panel .sku-list .value-item.checked {
	border: 1px solid #dd514c;
	background: #dd514c;
	color: #fff;
}
.sku-panel .btn-controls a {
	width: 40%;
	display: inline-block;
	margin: 0 5%;
	padding: 5px 0px;
	float: left;
	font-size: 14px;
	border-radius: 5px;
}
.sku-panel .btn-controls span {
	display: block;
	border-radius: 5px;
}
.sku-panel .btn-controls {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 5px;
	background: #fff;
	height: 36px;
}
.sku-panel .btn-controls a:visited {
	color: #FFFFFF;
}
.sku-panel .sku-list .sku-count {
	border-top: 1px solid #F9CFCF;
	padding-top: 10px;
}
.sku-panel .sku-list .sku-count input {
	padding: 5px!important;
	width: 32px;
	text-align: center;
	font-size: 14px;
}
.sku-panel .sku-list .sku-count>span {
	line-height: 30px;
	vertical-align: middle;
	font-size: 14px;
	color: #666;
}
.sku-panel .sku-list .sku-count .am-icon-minus,
.sku-panel .sku-list .sku-count .am-icon-plus {
	background: #fff;
	padding: 5px;
	margin: 0px;
	border: 1px solid #DFADAD;
	height: 29px;
}
.sku-panel .sku-list .sku-count .am-icon-minus {
	border-right: 0px;
}
.sku-panel .sku-list .sku-count .am-icon-plus {
	border-left: 0px;
}
/**
 * 商品详情页面底部按钮
 */

.detail-page .footer-menu {
	position: fixed;
	background: #fff;
	bottom: 0px;
	width: 100%;
	text-align: center;
	padding: 10px 5px;
	z-index: 99999;
}
.score1 {
	background-position: -104px -60px;
}
.score2 {
	background-position: -78px -60px;
}
.score3 {
	background-position: -52px -30px;
}
.score4 {
	background-position: -26px -30px;
}
.score5 {
	background-position: 0 -30px;
}
.p-ext {
	position: relative;
}
.p-ext .bottom-border {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAIAAACZwRr8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIhJREFUeNqkkLsOwyAMRYN5o2yI//8+GBgQDwkRqKV2iKqkHXIHezj21bVJKWW7F2w/9Qezd1tr5ZxrrcdxMMb2fTfGfPCcM4RAKdVaY8WJlFJrzVpLMFqMkXMuhDjbIkYbQFsA+GIodOq9wxhDKXWZS0oJ3ntCyCXGHOCcu7sK15695Rl+CTAAymMy0cnluzAAAAAASUVORK5CYII=);
	background-repeat: repeat-x;
	height: 7px;
	width: 100%;
}
.p-ext .up-border {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAIAAACtAwlQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpi/P//PwMhwMRABBiMiliA+Nu3b2/evAEyREVFOTk5sZv09u3bv2Dw+vVr7CYBjYEHFZAB5GI3iZeXlwkM+Pj4sJrE+PXr1+Eb4gABBgAFvCOQu4kJogAAAABJRU5ErkJggg==);
	background-repeat: repeat-x;
	height: 16px;
	width: 100%;
	background-size: 8px 8px;
	height: 8px;
}
.p-ext .up-decorate-left {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAmCAYAAAD0t6qKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZpJREFUeNqUljtOw0AQhtebxHnZcXougFJQ03OUCCrSukqDIpAQogEanjehp0iFxOMCHMCKo8RO4vD/lleKIJF3RhrN7Erfznh2PLYzHo8/lFLP0AdorCxFB0HQazQa147jTLAeQV0rsFKpqFarpbrdrsIBQ+wl0H4paBxEzA/odDoKhz1h69IKNFKtVnO4VquFWN5Ygya67/vKdd0BlrfWoBHP8wifbktblxWh3W7zmcO/BSsFmTZhCAtWtwZNwXBVdIcikNJsNhmdoCcCmXK9nmd6IgIpBdgXg2xPaA/ugQikoKNojsQgKww5FINMF7IvBrXOkT0xyGuB+GJQ3DlG1us1zUQMZllG8yMGV6sVzbcYXC6XNG9icLFY0LxqaZrQT7jvIjBJOHLVi+g6eA0FeC8CZ7MZ4XPzfdG2zzafz1XxbbHrHKYYx7EZGYk1OJ1OGfEK7qN1rxJK0/QObvjvhd6V3gY02DoJtrXURnrhzhGyGYUlL6p3XIz83bOHpebFUgFfYO8MmpYOrSiKvoqfB0aIbBviV4ABAPPwjYGbcJidAAAAAElFTkSuQmC);
	background-size: 7px 19px;
	width: 7px;
	height: 19px;
	position: absolute;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	top: -5px;
	left: 0;
}
.p-ext .up-decorate-right {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAmCAYAAAD0t6qKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZpJREFUeNqUljtOw0AQhtebxHnZcXougFJQ03OUCCrSukqDIpAQogEanjehp0iFxOMCHMCKo8RO4vD/lleKIJF3RhrN7Erfznh2PLYzHo8/lFLP0AdorCxFB0HQazQa147jTLAeQV0rsFKpqFarpbrdrsIBQ+wl0H4paBxEzA/odDoKhz1h69IKNFKtVnO4VquFWN5Ygya67/vKdd0BlrfWoBHP8wifbktblxWh3W7zmcO/BSsFmTZhCAtWtwZNwXBVdIcikNJsNhmdoCcCmXK9nmd6IgIpBdgXg2xPaA/ugQikoKNojsQgKww5FINMF7IvBrXOkT0xyGuB+GJQ3DlG1us1zUQMZllG8yMGV6sVzbcYXC6XNG9icLFY0LxqaZrQT7jvIjBJOHLVi+g6eA0FeC8CZ7MZ4XPzfdG2zzafz1XxbbHrHKYYx7EZGYk1OJ1OGfEK7qN1rxJK0/QObvjvhd6V3gY02DoJtrXURnrhzhGyGYUlL6p3XIz83bOHpebFUgFfYO8MmpYOrSiKvoqfB0aIbBviV4ABAPPwjYGbcJidAAAAAElFTkSuQmCC);
	background-size: 7px 19px;
	width: 7px;
	height: 19px;
	position: absolute;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	top: -5px;
	right: 0;
}
.p-ext .service-item{
	display:inline-block;
}
