html{
	font-size: 20px;
}
/**
 * Alert框
 */
#alertMsg-mobile .am-modal-dialog,
#loading-mobile .am-modal-dialog {
  border-radius: 0;
  background: rgba(44, 23, 23, 0.82);
  color: #fff;
}
#loading-mobile .am-modal-dialog ,
#alertMsg-mobile .am-modal-bd {
  padding: 10px 5px;
}
 
 
.theme-shop{
	background: #FAF2F2;
}
.theme-shop .logo{
	vertical-align: top;
	line-height: 100%;
	display: inline-block;
	float:left;
}
.theme-shop .logo img{
	 width: 80%;
}
.theme-shop .am-header{
	height: 1.2rem;
  	line-height: 1.2rem;
}
.theme-shop .am-navbar-default .am-navbar-nav{
	  background-color: #FE6233;
}
.theme-shop .am-header-default {
 	 background-color: #FE6233;
}
.theme-shop .am-slider-a5 .am-control-nav li a.am-active{	
 	 background-color: #FE6233;
}
.theme-shop input.top-search:focus{
	outline: none;
}
.theme-shop .am-header{
	height: 1.2rem;
	box-sizing: border-box;
	margin-left: 0px;
}
.theme-shop .top-search-wrp{
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0.125rem;
}

.theme-shop .top-search{
	background: #E8512A;
	border: 1px solid #E8512A;
	border-radius: 5px;
	float: left;
	height:90%;
	color: #fff;
	width: 100%;
	text-align: center;
}

.theme-shop .i-search{  
	margin-top: -5px;
	display: block;
	position: absolute;
	font-size: 20px;
	color: #fff;
	text-align: center;
	width: 100%;
	top: 0px;
	left: 0px;
}

/**
 *  分类样式
 */
.theme-shop .store_types{
	background: #FFFFFF;
	padding: 0.15625rem 0rem;
	margin: 0 auto;
	text-align: center;
}

.theme-shop 	.store_types .type-item{
	display: inline-block;
	text-align: center;
}
		
.theme-shop 	.store_types .type-item img{
	width: 1rem;
}

.theme-shop 	.store_types .type-item span{
	width: 100%;
	display: inline-block;  
}

/**
 * 回到顶部样式
 */
.theme-shop .am-gotop-fixed {
	bottom: 2rem;
	left: 0.2rem;
	width: 1rem;
}
.theme-shop .am-gotop-fixed .am-gotop-icon{
	width: 100%;
	height: 1rem;
	line-height: 0.8rem;
	background-color: #FF4400;
	vertical-align: middle;
	color: #FAFAFA;
	border-radius: 50%;
}