<extend name="template/base_index" />

<block name="area_header">

	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
	<link type="text/css" rel="stylesheet" src="__CDN__/jquery-uploadify/3.2.1/uploadify.css" /
	>
	<script type="text/javascript" src="__CDN__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm">
				<fieldset>
					<legend>
						商品添加</legend>
					<div class="form-group">
						<label for="inputname" class="col-md-2 col-lg-2 control-label">商品名称</label>
						<div class="col-md-10 col-lg-10">
							<input type="text" class="required form-control " name="name"  placeholder="请输入商品名称" id="inputname" >
							<div class="help-block">(商品名称，不要超过50个字)</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputprice" class="col-md-2 col-lg-2 control-label">销售价格</label>
						<div class="col-md-10 col-lg-10">
							<input type="text" class="required form-control input-short" name="price"  placeholder="请输入销售价格" id="inputprice" value="0.00">
							<div class="help-block">(销售价格)</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputdis_price" class="col-md-2 col-lg-2 control-label">促销价格</label>
						<div class="col-md-10 col-lg-10">
							<input type="text" class="required form-control input-short" name="dis_price" id="inputdis_price"  placeholder="请输入促销价格" value="0.00">
							<div class="help-block">(促销价格)</div>
						</div>
					</div>
					<div class="form-group">
						<label for="input_stock" class="col-md-2 col-lg-2 control-label">库存量</label>
						<div class="col-md-10 col-lg-10">
							<input type="text" class="required form-control input-short" name="stock"  placeholder="请输入库存量" id="input_stock" value="0">
							<div class="help-block">(库存量)</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputsale_num" class="col-md-2 col-lg-2 control-label">销量</label>
						<div class="col-md-10 col-lg-10">
							<input type="text" class="required form-control input-short" name="sale_num"  id="inputsale_num" placeholder="请输入销量" value="0">
							<div class="help-block">(销量，初始销售量)</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">商品主图</label>
						<div class="col-md-10 col-lg-10">
							<div class="controls">
								<input type="file" id="upload_picture">
								<input type="hidden" name="pictureid" id="cover_id" value="" />
								<input type="hidden" name="picurl" id="picurl" value="" />
								<div class="upload-img-box">
								</div>
							</div>
							<script type="text/javascript">
												//上传图片
											    /* 初始化上传插件  */
												$("#upload_picture").uploadify({
													'buttonClass' : 'btn btn-primary btn-sm',
											        "height"          : "100%",
											        "swf"             : "__CDN__/jquery-uploadify/3.2.1/uploadify.swf",
											        "fileObjName"     : "download",
											        "buttonText"      : "上传图片",
//											        "buttonImage"      : "上传图片",
											        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
											        "width"           : 120,
											        'removeTimeout'	  : 1,
											        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
											        "onUploadSuccess" : uploadPicture
											    });
												function uploadPicture(file, data){
											    	var data = $.parseJSON(data);
											    	var src = '';
											        if(data.status){
											        	$("#cover_id").val(data.id);
											        	src = data.url || '__ROOT__' + data.path;
											        	$("#picurl").val(src);
											        	
											        	$("#cover_id").parent().find('.upload-img-box').html(
											        		'<div class=""><img class="img-responsive thumbnail" src="' + src + '"/></div>'
											        	);
											        } else {											        	
														$.scojs_message(data.info , $.scojs_message.TYPE_OK);											        	
											        }
											    }
							</script>
						</div>
					</div>
					
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2 control-label">&nbsp;</label>
						<div class="col-lg-10 col-md-10">
							<a target-form="validateForm" class="ajax-post btn btn-primary" href="{:U('Admin/'.CONTROLLER_NAME.'/add')}" autofocus="autofocus"><i class="fa fa-save"></i> {:L('BTN_SAVE')}</a>
							<a class="btn btn-default" href="{:U('Admin/'.CONTROLLER_NAME.'/index')}"><i class="fa fa-times-circle"></i> {:L('BTN_CANCEL')}</a>
						</div>
					</div>
				</fieldset>
			</form>
			<!-- form -->

		</div>
		<!-- END admin-main-content -->
	</div>
	<!-- END admin-main-->
</block>

<block name="area_footer">
		<script type="text/javascript">

		$(function() {
			
			$("#validateForm").validate({
				errorPlacement: function(error, element) {
					$(".checked", element.parent()).remove();
					error.appendTo(element.parent());
				},
				success: function(label) {
					label.removeClass("error").addClass("checked").text("Ok!");
				},
				rules: {
					
					name: {
						required: true,
						maxlength: 50,
					},
					price: {
						required: true,
						min:0,
						number:true
					},
					dis_price: {
						required: true,
						min:0,
						number:true
					},
					stock: {
						required: true,
						min:0,
						number:true
					},
					sale_num:{
						required: true,
						min:0,
						number:true
					}
					
				},
				messages: {
					name: {
						required: "请输入商品名称",
						maxlength: $.validator.format("商品名称不能超过{0}个字 符"),
					},
					price: {
						required: "请输入商品价格",
						min:"不能小于0",
						number:"必须是数字"
					},
					dis_price: {
						required: "请输入商品销售价格",
						min:"不能小于0",
						number:"必须是数字"
					},
					stock: {
						required: "请输入商品库存量",
						min:"不能小于0",
						number:"必须是数字"
					},
					sale_num:{
						required: "请输入商品销售数量",
						min:"不能小于0",
						number:"必须是数字"
					}
				}
			}); //end validate
		}); //end ready
	</script>
</block>