<extend name="template/base_index" />


<block name="area_header">

	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			
			<div class="h4">订单基本信息</div>
			<form>
			  <a href="javascript:history.back(-1);" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>返回</a>
			  <div class="form-group">
			    <label class="control-label" >订单编号</label>
			    <div class="control-label " >{$order.orderid}</div>
			  </div> 
			  <div class="form-group">
			    <label class="control-label" >订单总价</label>
			    <div class="control-label " >{:number_format($order['price']/100.0,1)}元</div>
			  </div>
			  <div class="form-group">
			    <label class="control-label" >订单状态</label>
			    <div class="control-label " >{$order.order_status|getOrderStatus}</div>
			  </div>
			  <div class="form-group">
			    <label class="control-label" >支付状态</label>
			    <div class="control-label " >{$order.pay_status|getPayStatus}</div>
			  </div>
			  <div class="form-group">
			    <label class="control-label" >联系地址</label>
			    <div class="control-label " >{$order.country},{$order.province},{$order.city},{$order.area},{$order.detailinfo}</div>
			  </div>
			   <div class="form-group">
			    <label class="control-label" >下单时间</label>
			    <div class="control-label " >{$order.createtime|date='Y-m-d',###}</div>
			  </div>
			 <div class="form-group">
			    <label class="control-label" >备注</label>
			    <div class="control-label" >{$order.note}</div>
			  </div>
			  
			  
			</form>
			<hr />
			<div class="h4">购买商品列表</div>
			<table class="table">
				<tr>
					<th>序号</th>
					<th>商品名称</th>
					<th>商品主图</th>
					<th>购买价格</th>
					<th>购买数量</th>
				</tr>
				
				<empty name="items">
					<tr>
						<td colspan="5" class="text-center">
							没有相关信息
						</td>
					</tr>
				<else/>
				
				<volist name="items" id="vo">
					<tr>
						<td>{$key+1}</td>
						<td>{$vo.name}</td>
						<td><a href="{$vo.img}" target="_blank"><img src="{$vo.img}" alt="商品图片" style="width:60px;"/></a></td>
						<td>{:number_format($vo['price']/100.0,1)}元</td>
						<td>{$vo.count}</td>
					</tr>
				</volist>
				
				</empty>
				
			</table>
			<hr />
			<div class="h4">订单状态变更历史</div>
			<table class="table">
				<tbody>
					<tr>
						<th>时间</th>
						<th>状态变更</th>
						<th>原因</th>
						<th>是否自动</th>
					</tr>
				</tbody>
				<empty name="statushistory">
					<tr>
						<td colspan="4" class="text-center">
							没有相关信息
						</td>
					</tr>
				<else/>
				<volist name="statushistory" id="vo">
						<tr>
							<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
							<td>{:getOrderStatus($vo['cur_status'])}->{:getOrderStatus($vo['next_status'])}</td>
							<td>{$vo.reason}</td>
							<td>{$vo.isauto|yesorno}</td>
						</tr>
				</volist>
				
				</empty>
			</table>
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

</block>