/*调整cosmo样式*/

.admin-header .avatar {
	height: 50px;
	padding: 10px;
}
.admin-main {
	margin-top: 60px;
}


/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {
	
}
	

/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {
}


/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
	}