@charset "utf-8";
html {
	overflow-x: hidden;
}
#lrkfwarp ul {
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}
.lrkf {
	font-size: 13px;
	position: fixed;
}
.lrkf a {
	display: block;
	color: #666;
	text-decoration: none;
	font-size: 13px;
}
#lrkfwarp img {
	border: none;
	vertical-align: middle;
	margin-right: 4px;
	margin-top: -2px;
	display: inline;
}
.lrkf_con {
	padding: 6px 8px;
}
.lrkf_con li.qq {
	padding: 5px 0;
}
.lrkf_con li.tel {
	line-height: 1.35;
	padding-bottom: 4px;
}
.lrkf_con li.more {
	padding: 2px 0;
}
.lrkf_con li.tel b {
	display: block;
	color: #C00;
}
.lrkf_tool a {
	display: block;
	padding: 8px 10px;
	text-align: center;
}
.lrkf_con .hr {
	padding: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
	margin: 4px 0;
	border-bottom: #fff solid 1px;
	border-top: #CFCFCF solid 1px;
	border-left: none;
	border-right: none;
}
.lrkf_btn {
	position: absolute;
	top: 20px;
	width: 22px;
	left: -22px;
	display: block;
	text-align: center;
	padding: 10px 0;
}
.lrkf .lrkf_xc {
	position: absolute;
	bottom: -14px;
	right: 6px;
	font-size: 10px;
	display: none;
}
/*默认蓝色皮肤*/

html {
	-webkit-text-size-adjust: none;
}
/*修正谷歌最小字号bug*/

*html .lrkf {
	position: absolute;
}
/*修正IE6bug的，IE6不支持固定定位，这一句必须要。*/

.lrkf {
	width: 124px;
}
/*必须有一个合适的宽度，否则获取不到正确的宽度*/

.lrkfshow {
	right: 0;
}
/*这个不要动*/

.lrkf .lrkf a {} .lrkf a:hover {
	color: #B50708;
}
.lrkf .lrkf_box {
	background-color: #009EE8;
	padding: 6px;
	border-radius: 4px;
}
.lrkf .lrkf_header,
.lrkf .lrkf_con,
.lrkf .lrkf_tool a {
	background-color: #fff;
	margin-top: 4px;
	border-radius: 4px;
}
.lrkf .lrkf_header,
.lrkf .lrkf_con {
	margin-top: 0;
}
.lrkf .lrkf_btn {
	color: #fff;
	border-radius: 4px 0 0 4px;
}
.lrkf .lrkf_btn {
	:hover {
		background-color: #009EE8;
		color: #fff;
	}
}
.lrkf .lrkf_btn {
	position: absolute;
	top: 20px;
	width: 60px;
	left: -60px;
	display: block;
	text-align: center;
	padding: 10px 0;
}