.select2-container--default .select2-selection--single .select2-selection__rendered{
	height:43px;
	line-height: 43px;
	line-height: initial;
	padding: 10px 18px;
}

.select2-container .select2-selection--single{
	height: 43px;
}
.select2-container--default .select2-selection--single{
	border: 1px solid #cccccc;
	border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	margin-top: 4px;
}
