<extend name="template/base_index2" />

<block name="area_header">
	<style type="text/css">
	
		
		
		.header{
			background: #FFFFFF;
			margin-bottom: 15px;
			/*background: url(__IMG__/banner12.jpg) no-repeat;*/
			
		}
		.logo-wrp{
			height: 160px;
			background: #FF5000;
			position: relative;
			height: 100%;
			padding: 10px 16px;
			font-size: 14px;
			color: #FFFFFF;
		}
		.user-logo{
			height: 48px;
		  	width: 48px;
		  	border-radius: 50%;
  			-webkit-border-radius: 50%;
		  	border: 1px solid #EFDAE5;

		}	
		.quick-menu{
			height: 100%;
			font-size: 12px;
		}
		.quick-menu .am-list{
			margin-bottom: 12px;
		}
		.quick-menu .am-list>li>a{
			padding: 5px 10px;
			-webkit-tap-highlight-color: rgba(240,240,240,0.7);
			color: #111111;
			
		}
		.quick-menu .am-list>li>a:visited{
			color: #111111;
		}
		
		.quick-menu .am-list>li>a>i.icon{
			margin-right: 8px;
		}
		
		.header{
			font-size: 16px;
		}
		.header .am-topbar{
			font-size: 18px;
  			padding: 5px 16px;
  			min-height: 20px;
  			margin-bottom: 0px;
		}
	</style>
</block>

<block name="area_body">
	<div class="header">
		<div class="am-topbar am-topbar-default am-topbar-fixed-top">我的资料</div>
		
		<div class="logo-wrp" >
			<img class="user-logo" src="{$userinfo.avatar}" alt="logo" />
			<span>{$userinfo.nickname}</span>
		</div>
	</div>
	
	<div class="quick-menu">
		<ul class="am-list goto-order">
		  <li class="am-cf"><a href="{:U('Shop/User/order')}"><i class="icon am-icon-reorder"></i>我的订单<i class="am-fr am-icon-chevron-right"></i></a> </li>
		</ul>
		
		
		<ul class="am-list suggest">
		  <li class="am-cf"><a href="{:U('Shop/Suggest/add')}"><i class="icon am-icon-question-circle"></i>帮助与反馈<i class="am-fr am-icon-chevron-right"></i></a> </li>
		</ul>
	</div>
	
	
</block>

<block name="area_footer">
	<include file="partial/footermenu" />
</block>

