<div class="footermenu am-btn-toolbar am-g am-btn-group-justify">
	<div class="am-u-sm-3 am-text-center">
		<a href="{:U('Shop/Index/index')}"  class="am-btn am-btn-warning <eq name="active" value="1">am-active</eq>" >
			<div><i class="am-icon-home"></i></div>申请族长
		</a>
	</div>
	<div class="am-u-sm-3 am-text-center">
		<a href="{:U('Shop/Index/orders')}"  class="am-btn am-btn-warning <eq name="active" value="2">am-active</eq>">
			<div><i class="am-icon-calendar-o"></i></div>
		我的订单</a>
	</div>
	<div class="am-u-sm-3 am-text-center">
		<a href="{:U('Shop/Index/myFamily')}"  class="am-btn am-btn-warning <eq name="active" value="3">am-active </eq>" >
			<div><i class="am-icon-group"></i></div>
		家族成就</a>
	</div>
	<div class="am-u-sm-3 am-text-center">
		<a href="{:U('Shop/Index/myQrcode')}"  class="am-btn am-btn-warning <eq name="active" value="4">am-active</eq>"> 
			<div><i class="am-icon-qrcode"></i></div>
		推广码</a>
	</div>
</div>